/* Colors Palette used in the provided design:

Green: #54be90
White: #ffffff
Light grey: #ebebeb
Text grey: #444444
Dark grey: #232323
Font (or you can use some other, choice is yours!):

Alegreya Sans, in regular, bold and extra-bold style */
/*font-family: 'Alegreya Sans', sans-serif; */

html {
    box-sizing: border-box;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.main {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #ffffff;
    font-family: 'Alegreya Sans', sans-serif;

}

/*NAV BAR*/

.nav-bar {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
}

.nav-bar__logo img {
    width: 100px;
    height: 100px;
}

.nav-bar__menu {
   width: 100%;
   height: 100%;
   background: #232323;
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
}
 
.nav-bar__links {
    display: block;
    text-decoration: none; 
 
}

.nav-bar__links a {
    font-size: 2rem;
    width: 100%;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    padding: 34px 50px;  

}

.nav-bar__menu > li a:hover {
    background: #54be90;
    color: #232323;
}

.nav-bar:hover {
    background: #54be90;
    color: #232323;
}

.blank {
    width: 100%;
    height: 75px;
    background: #ffffff;
}

/*HOME*/

.home {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 500px;
}

.home img {
    width: 100%;
    height: 100%;
    filter: brightness(40%);
    object-fit: cover;
    position: absolute;
}

.home__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    z-index: 1;
}

.home__text h1 {
    font-size: 3rem;   
}

.home__text h2 {
    font-size: 2rem;
}

.home__text span {
    color: #54be90;
    font-weight: 700;
    text-decoration: underline #ffffff;
}

/*INFO*/

.info { 
    width: 100%;
    background: #ffffff;
    text-align: center;

}

.info p {
    font-size: 1.5rem;
    color: #232323;
    padding: 40px;
}

.info p > span {
    color: #232323;
    font-weight: bold;
}

.info__circle {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.info__circle_one {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #ffffff;
    z-index: 2;
}

/*DESCRIPTION*/

.description {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background-color: #232323;
    text-align: center;
    align-items: center;
    z-index: 1;
}

.description__item {
    margin: 60px;
}

.description__item h3 {
    font-size: 2.5rem;
    color: #54be90;
}

.description__item p {
    font-size: 1.5rem;
    color: #ffffff;
}

/* SKILLS */

.skills {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
    justify-content: space-around;
    align-items: center;
}

.skills h1 {
    font-size: 3rem;
    color: #54be90;
}

.skills__div {
    width: 1100px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;   
}

.skills__div__subtitle {
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    color: #ffffff;
    background: #232323;
    align-items: center;
    justify-content: center;
}

.skills__div__color_one,
.skills__div__color_two {
    width: 800px;
    height: 100%;
    background: #54be90;
}

.skills__div__color_three,
.skills__div__color_five {
    width: 700px;
    height: 100%;
    background: #54be90;
}

.skills__div__color_four,
.skills__div__color_six,
.skills__div__color_seven {
    width: 600px;
    height: 100%;
    background: #54be90;
}

.skills__div__color_eight {
    width: 500px;
    height: 100%;
    background: #54be90;
}

.skills__div__percent1,
.skills__div__percent2 {
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: row;
    color: #232323;
    background: lightgray;
    align-items: center;
    justify-content: flex-end;
}

.skills__div__percent3,
.skills__div__percent5 {
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: row;
    color: #232323;
    background: lightgray;
    align-items: center;
    justify-content: flex-end;
}

.skills__div__percent4,
.skills__div__percent6,
.skills__div__percent7 {
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: row;
    color: #232323;
    background: lightgray;
    align-items: center;
    justify-content: flex-end;
}

.skills__div__percent8 {
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: row;
    color: #232323;
    background: lightgray;
    align-items: center;
    justify-content: flex-end;
}

.empty-div {
    width: 100%;
    height: 100px;
    background: #ffffff;
}

/* PORTFOLIO */

.portfolio {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #54be90;
}

.portfolio__title {
    width: 100%;
    height: 200px;
    font-size: 3rem;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    margin-top: 40px;
}

.portfolio__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.portfolio__container__article {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #ffffff;
}

.portfolio__container__article__img img{
    width: 295px;
    height: 150px;
    padding: 5px;
}

.portfolio__container__article__img {
    display: flex;
    justify-content: center;
}

.portfolio__container__article__text {
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    background: lightgray;
    align-items: center;
}

.portfolio__container__article__text p {
    font-size: 1rem;
    text-align: center;
    color: #232323;

}

.portfolio__container__article__text h5 {
    font-size: 1.3rem;
    text-align: left;
    color: #232323;
}

.border {
    border: 3px solid black;
}

.portfolio__container__article_btn {
    width: 70%;
    text-align: center;
    background: #54be90;
    color: #ffffff;
    border: none;
    border-radius: 2rem;
    align-content: center;
    box-shadow: 5px 5px 5px black;
    margin-bottom: 20px;
}

.empty-div2 {
    width: 100%;
    height: 200px;
    background: #54be90;
}

/*ABOUT ME*/

.about {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.about__title {
    font-size: 3rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
    color: #232323;
    background: #ebebeb;
}

.about__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;

}

.about_img {
    width: 50%;
    position: relative;
    background: #ebebeb;

}

.about_img img {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    margin-left: 100px;
}

.about_text {
    width: 50%;
    position: relative;
    background: #ebebeb;

}

.about_text p {
    font-size: 1rem;
    color: #232323;
    text-align: left;

}

.about_text span {
    font-size: 1.1rem;
    font-weight: bold;
}

.about_btn {
    margin-bottom: 100px;
}

.empty-div3 {
    width: 100%;
    height: 20px;
    background: #ebebeb;
}

/*FOOTER*/

.empty-div4 {
    width: 100%;
    height: 40px;
    background: black;
}

.find {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    background: black;
}

.find__title h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
}

.find__title {
    text-align: center;
    margin-top: 80px;
}

.find__container {
    text-align: center;
}


/*CONTACT*/

.contact h1 {
    font-size: 3rem;
    color: #ffffff;
    text-align: center;
    margin-top: 50px;
}

.contact {
   background: #54be90;
}
.contact__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-family: Arial, sans-serif;
    background-color: #54be90;
    color: #ebebeb;
    padding: 20px;
  }
  
  .contact__form label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
  }
  
  .contact__form input,
  .contact__form textarea {
    width: 70%;
    padding: 12px;
    margin-bottom: 20px;
  }

  ::placeholder {
    background: #54be90;
    color: #ebebeb;
    padding: 10px;
    border: none;
  }
  
  .contact__form_btn {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    background-color: #232323;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    
  }


/*FOOTER*/

.footer {
    width: 100%;
    height: 300px;
    background: #ebebeb;
    color: #232323;
}

.footer__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__container span {
    display: inline-block;
    width: 150px;
    height: 5px;
    background: #54be90;
    vertical-align: middle;
}

.footer__title {
    font-size: 3rem;
    color: #232323;
    padding: 0 40px;

}

.footer p {
    text-align: center;
}

.footer__social {
    display: flex;
    justify-content: center;
}

.footer__social img {
    width: 100px;
    height: 100px;
}